body{
    margin: 0;
}
.root{
    --width-circle: 150vw;
    --radius: calc(100vw / 6);
}
.slider{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #17232A;
    background-image: radial-gradient(#fff3, transparent 50%);
}
.slider .list{
    position: absolute;
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: transform 0.8s;
}
.slider .list .item{
    width: calc(var(--radius) * 2);
    text-align: center;
    transition: transform 1s;
}
.slider .list .item img{
    width: 88%;
    filter: drop-shadow(0 0 20px #000);
}
.slider .list .item:nth-child(2){
    z-index: 31;
}
.slider .list .item:nth-child(2) img{
    width: 490px;
    height: 490px;
}
.slider .content{
    z-index: 32;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #eee;
    width: max-content;
}
.slider .content div:nth-child(2){
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: bold;
    position: relative;
}
.slider .content div:nth-child(2)::before{
    position: absolute;
    left: 60%;
    bottom: 50%;
    width: 80px;
    height: 80px;
    content: '';
}
.slider .content div:nth-child(1){
    text-align: left;
    text-transform: uppercase;
    transform: translateY(20px);
}
#prev,
#next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #eee8;
    color: #eee;
    font-size: x-large;
    cursor: pointer;
    z-index: 32;
}
#prev{
    left: 20px;
}
#next{
    right: 20px;
}

.circle{
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 30;
    backdrop-filter: blur(10px);
}
.slider .list .item button{
    visibility: hidden;
}
.slider .list .item:nth-child(2) button{
    position: absolute;
    z-index: 1000;
    top: 45%;
    left: 14%;
    visibility: visible;
    border: 1px solid #eee5;
    background: transparent;
    color: #eee;
    letter-spacing: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border-width: 5px;
    width: 8%;
    height: 6%;
    cursor: pointer;
}
.slider .list .item:nth-child(2) button:hover{
    background: rgb(255, 255, 255, 40);
    color: #000;
    border-color: #000;
}
.slider .list .item:nth-child(2) h3{
    position: absolute;
    z-index: 100;
    top: -2%;
    text-align: center;
    color: #eee;
    width: max-content;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-weight: bold;
}
.sidebar-footer{
    position: absolute;
    width: 3rem;
    height: 3rem;
    color: #eee;
    z-index: 10000;
    margin-top: -45%;
    margin-left: 93%;
}
.sidebar-link i{
    position: relative;
    z-index: 1001;
    font-size: 3rem;
    margin-right: 0.75rem;
}
.sidebar-link {
    position: relative;
    z-index: 1000;
    display: block;
    padding: 0.6rem 1.6rem;
    color: #fff;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}


