*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
    text-decoration: none;
}
li{
    list-stile: none;
}
.wrapper{
    display: flex;
}
.sidebar{
    position: fixed;
    width: 20%;
    min-width: 20%;
    z-index: 1000;
    background: #0e2238;
    display: flex;
    flex-direction: column;
    transition: 0.25s ease-in-out;
    height: 100vh;
}
.sidebar .toggle-btn{
    background: transparent;
    padding: 2rem 1.8rem;
    border: 0;
    cursor: pointer;
}
.toggle-btn i{
    position: absolute;
    margin-top: -280px;
    margin-left: -10px;
    font-size: 3rem;
    color: #fff;
}
.sidebar .sidebar-logo{
    position: relative;
    z-index: 1000;
    margin-top: -300px;
    margin-left: 100px;
}
.sidebar-logo a{
    color: #ffffff;
    font-size: 1.15rem;
    font-weight: 600;
}
.sidebar-nav{
    padding: 1rem 0;
    flex: 1 1 auto;
}
.sidebar-item{
    position: relative;
}
.sidebar-nav > .sidebar-item{
    margin-bottom: 15px;
}
.sidebar .sidebar-link {
    display: block;
    padding: 0.6rem 1.6rem;
    color: #fff;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}
.sidebar .sidebar-link:hover{
    background: rgba(255, 255, 255, 0.075);
    border-left: 3px solid #4070f4;
}
.sidebar-link i{
    font-size: 1.1rem;
    margin-right: 0.75rem;
}
.sidebar .sidebar-footer{
    margin-bottom: 1.5rem;
}
.sidebar .avatar {
    vertical-align: middle;
    justify-content: center;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 40px;
    object-fit: cover;
}
.sidebar form input{
    display: none;
}

.background{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit:cover;
}
.container{
    position: absolute;
    box-sizing: border-box;
    z-index: 1001;
    border-radius: 60px;
    background-color: #fff;
    margin-left: 20%;
    margin-top: 20%;
    width: 80%;
    height: 100%;
    display: grid;
    grid-gap: 20%;
    justify-items: center;
}
.container .sub-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: -10%;
    border: 3px solid #423fd4;
    border-radius: 5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.container .sub-container .container-content:hover,
.container .sub-container .container-img:hover{
    background-color: rgba(0, 0, 0, 0.1);
    transition: opacity 0.5s ease;
}
.container .sub-container .container-img{
    position: relative;
    width: 60%;
    border-radius: 5%;
    border: 5px solid #e8e8e8;
    left: 5%;
}
.container .sub-container .container-img img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}
.container .sub-container .container-img p{
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
    position: relative;
}
.container .sub-container .container-content{
    position: relative;
    width: 30%;
    height: 100%;
    left: 7%;
    border-radius: 8%;
    padding: 5px 5px 5px 5px;
    border: 5px solid #e8e8e8;
}
.container .sub-container .container-content p.author{
    font-size: 1.5rem;
    color: #a8dbff;
}
.container .sub-container .container-content p.description{
    font-size: 1.2rem;
}
.container .sub-container .container-content p.date{
    text-align: center;
    font-size: 1.1rem;
    position: absolute;
    bottom: 0;
    right: 15px;
    color: #94c1e0;
}