<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Уведомления</title>
</head>
<body>
    <h1>Уведомления</h1>
    <div id="notifications"></div>
    <script>
        const notifications = new EventSource('/title');
        notifications.onmessage = function(event) {
            document.getElementById('notifications').innerHTML += `<p>${event.data}</p>`;  // Отображаем уведомление на странице
        };
    </script>
</body>
</html>