<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link href="/static/css/style1.css" rel="stylesheet">
</head>
<body>
    <div class="carousel">
        <div class="list">
            <div class="item">
                <img src="/static/img/mercury.png">
                <div class="content">
                    <div class="des">
                        Меркурий - ближайшая планета к Солнцу в нашей Солнечной системе. Он является самой маленькой из планет, но, несмотря на свои скромные размеры, Меркурий обладает необычной красотой и таинственностью. Его поверхность усеяна кратерами, свидетельствующими о древних космических столкновениях, и покрыта слоем тонкого вещества, похожего на золото. Суровый красочный пейзаж планеты Меркурий привлекает внимание астрономов и любопытных наблюдателей, но его атмосфера, состоящая в основном из редких элементов, делает эту планету одной из самых неприступных и загадочных мест во Вселенной.
                    </div>
                    <div class="buttons">
                        <button onclick="document.location='/login'">ВОЙТИ</button>
                        <button onclick="document.location='/register'">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/img/venus.png">
                <div class="content">
                    <div class="des">
                        Венера - вторая планета от Солнца, известная своим ярким светом на ночном небе. Это место красоты и опасности одновременно. Поверхность Венеры покрыта густыми облаками серной кислоты, которые создают жаркий парниковый эффект, делая эту планету самой горячей во всей Солнечной системе. Однако, несмотря на свои адские условия, Венера впечатляет своими красочными пейзажами, включая высокие горы и разнообразные вулканы. Блеск и мистическая атмосфера этого мира делают его как загадочным, так и привлекательным для исследования.
                    </div>
                    <div class="buttons">
                        <button onclick="document.location='/login'">ВОЙТИ</button>
                        <button onclick="document.location='/register'">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/img/earth.png">
                <div class="content">
                    <div class="des">
                        Земля - наш удивительный дом в космосе. Планета, на которой процветает жизнь во всех своих разнообразных формах. Это место с удивительной разнообразием ландшафтов, от высоких гор до огромных океанов. Земля окутана тонкой атмосферой, обеспечивающей нас кислородом и защищающей от космических излучений. Однако, мы должны беречь и заботиться о нашей уникальной планете, чтобы сохранить её красоту и разнообразие для будущих поколений. Земля - это не просто планета, это наш дом, полный чудес и загадок, который ждет своих исследователей.
                    </div>
                    <div class="buttons">
                        <button onclick="document.location='/login'">ВОЙТИ</button>
                        <button onclick="document.location='/register'">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/img/mars.png">
                <div class="content">
                    <div class="des">
                        Марс - красная планета, символизирующая загадочные пустыни, величественные каньоны и потенциальную тайну жизни за её пределами. Его красноватый оттенок придает ему мистическое обаяние, стимулируя любопытство и желание исследования. Поверхность Марса усыпана остатками древних вулканов и обширными полями красной пыли. На этой планете также обнаружены следы речных систем, вызывающие вопросы о прошлой жизни. Марс - это место невероятной красоты, удивительной загадочности и надежды на будущее, открывая перед нами возможности для исследования и возникновения новых загадок.
                    </div>
                    <div class="buttons">
                        <button onclick="document.location='/login'">ВОЙТИ</button>
                        <button onclick="document.location='/register'">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/img/jupiter.png">
                <div class="content">
                    <div class="des">
                        Юпитер - самая большая планета в Солнечной системе, символизирующая величие и мощь. Её заметные полосы и бурные белые пятна создают впечатление огромной динамики и энергии. Юпитер обладает впечатляющими спутниками, включая самого большого Луну - Ганимеда, а также Ио, который известен своими вулканическими извержениями. Газовый гигант также обладает множеством таинственных штормов и вихрей, придавая ему вневременный вид. Юпитер - это планета, воплощающая таинство и мощь космического масштаба, вызывая восторг и уважение у всех, кто обращает на нее взор.
                    </div>
                    <div class="buttons">
                        <button onclick="document.location='/login'">ВОЙТИ</button>
                        <button onclick="document.location='/register'">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/img/saturn.png">
                <div class="content">
                    <div class="des">
                        Сатурн - планета, окруженная кольцами, символизирующая красоту и загадку. Ее уникальные кольца, состоящие изо льда, камней и пыли, создают неповторимый облик этой планеты. Сатурн обладает множеством спутников, включая захватывающий Титан, который скрывает океаны под его замерзшей поверхностью. Эта планета также известна своими бурными штормами и впечатляющими вихрями в атмосфере. Сатурн - это место величайшей красоты и тайны, приобщение к которой позволяет нам лучше понять масштаб и величие нашей Вселенной.
                    </div>
                    <div class="buttons">
                        <button onclick="document.location='/login'">ВОЙТИ</button>
                        <button onclick="document.location='/register'">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/img/uranus.png">
                <div class="content">
                    <div class="des">
                        Уран - мир холодных загадок, обладающий уникальной особенностью - он вращается почти на боку, создавая удивительное зрелище перекатывающихся полюсов. Эта планета окружена голубым зеленоватым светом, из-за содержания метана в её атмосфере, что придает ей неповторимую внешность. Уран также известен своими многочисленными ледяными спутниками, каждый из которых обладает своими собственными загадками. Эта таинственная планета напоминает нам о том, что Вселенная полна удивительных мест, ожидающих своих исследователей.
                    </div>
                    <div class="buttons">
                        <button onclick="document.location='/login'">ВОЙТИ</button>
                        <button onclick="document.location='/register'">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="/static/img/neptune.png">
                <div class="content">
                    <div class="des">
                        Нептун - холодная и мистическая планета, обладающая захватывающей красотой и загадочностью. Её голубоватый оттенок придает ей атмосферу мистики и удивительной непознанности. Нептун является ветреным миром, с наиболее быстрыми ветрами в Солнечной системе, а полосатая атмосфера и бурные штормы придают планете зрелищный вид. Её спутники, такие как Тритон, скрывают множество тайн, включая геологические активности и геотермальные источники. Нептун напоминает нам о бесконечном разнообразии Вселенной и вызывает в нас удивление и жажду познания.
                    </div>
                    <div class="buttons">
                        <button onclick="document.location='/login'">ВОЙТИ</button>
                        <button onclick="document.location='/register'">ЗАРЕГИСТРИРОВАТЬСЯ</button>
                    </div>
                </div>
            </div>
            </div>
        <div class="thumbnail">
            <div class="item">
                <img src="/static/img/mercury.png">
                </div>
            <div class="item">
                <img src="/static/img/venus.png">
            </div>
            <div class="item">
                <img src="/static/img/earth.png">
            </div>
            <div class="item">
                <img src="/static/img/mars.png">
            </div>
            <div class="item">
                <img src="/static/img/jupiter.png">
            </div>
            <div class="item">
                <img src="/static/img/saturn.png">
            </div>
            <div class="item">
                <img src="/static/img/uranus.png">
            </div>
            <div class="item">
                <img src="/static/img/neptune.png">
            </div>
        </div>
        <div class="arrows">
            <button class="prev" id="prev"><</button>
            <button class="next" id="next">></button>
        </div>
        <div class="time"></div>
    </div>
    <img src="/static/img/icon.png" class="icon">
    <script src="/static/js/app.js"></script>
</body>
</html>